/* -----------------team card-------------- */
.team_card-overlay {
  transition: opacity 0.3s ease-out;
}

.team_card:hover .team_card-overlay,
.team_card.is-open .team_card-overlay {
  opacity: 1;
}

@media screen and (min-width: 992px) and (max-width: 1300px) {
  .team_collection-list {
    grid-template-columns: 1fr 1fr;
  }
}
